* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    font-family: Inter;
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 89%);
}

.card-section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card-section .card {
    background-color: hsl(0, 0%, 12%);
    padding: 20px;
    border-radius: 15px;
}

.card-section .card .profile-picture {
    display: flex;
    justify-content: center;
}

.card-section .card .profile-picture img {
    border-radius: 50%;
    width: 30%;
    height: auto;
    margin-bottom: 25px;
}

.card-section .card .content {
    text-align: center;
}

.card-section .card .content h4 {
    margin-bottom: 5px;
    color: hsl(0, 0%, 89%);
    font-size: 1.7rem;
    font-weight: 400;
}

.card-section .card .content span {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 14px;
}

.card-section .card .content p {
    margin-top: 25px;
    color: hsl(0, 0%, 80%);
    font-size: 14px;
    margin-bottom: 20px;
}

.card-section .card .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-section .card .buttons a {
    background-color: hsl(0, 0%, 20%);
    margin-bottom: 15px;
    min-width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;

    &:hover {
        background-color: hsl(75, 94%, 57%);
        color: black;
    }
}